<% provide :title, t(".title") %>
<h1><%= t ".description"%></h1>
<p>
  <%= raw t".homecontent", org: link_to(t(".org"),
    "http://www.railstutorial.org/") %>
   <br/>  
  <%= link_to "Sign up now!", sign_path, class: "btn btn-lg btn-primary" %>
</p>
